<% include header %>
<link rel="stylesheet" href="./static/css/createyourplayer.css">

<%# HTML %>
<div id="wrapper">



  <%# these will be filled by index.controller.js with players %>
  <div id="leftColumn" class="leftColumn">
    <div id="searchAndTwitter" class="searchAndTwitter">

    </div>

    <div id="playerColumn" class ="playerColumn"></div>

  </div>

  <%# container with details of players in the middle, it accepts drop events of player images %>
  <div id="playerDetails" class="playerDetails">

    <%# scrolling text with twitter livefeed%>
    <div class="scrollingText">
      <marquee behavior="slide" scrollamount="5" direction="down" style="text-align:center" ID="twitterFeed" start="start()"><font size="3" display="block"><b>LOGIN TO RECEIVE A TWITTER LIVEFEED</b></font></marquee>
    </div>

    <%# container 1 - left side %>
    <div id="detailsLeft" class ="detailsLeft" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onDragLeave()">
      <div id="textDetailsLeft"></div>

      <div id="inputForm">

        Spielername: <input type="text" id="spielername" class="inputPlayer" placeholder="Spielername" required/>
        Größe: <input type="text" id="groesse" class="inputPlayer" placeholder="1,96 m" required />
        Nationalität: <input type="text" id="nationalitaet" class="inputPlayer" placeholder="Deutschland" required/>
        Verein:<input type="text" id="verein" class="inputPlayer" placeholder="FC Bayern München" />
        Im Team seit: <input type="date" id="imTeamSeit" class="inputPlayer" placeholder="Im Team seit"/>
        Schuhgröße: <input type="text" id="schuhgroesse" class="inputPlayer" placeholder="45 ⅓" />
        Schuhmodell: <input type="text" id="schuhmodell" class="inputPlayer" placeholder="ACE15 Solar Orange seit 02.10.2015" />
        Position: <input type="text" id="position" class="inputPlayer" placeholder="Torwart" />
        Vertrag bis: <input type="date" id="vertragBis" class="inputPlayer" placeholder="Vertrag bis"/>
        Aktueller Marktwert: <input type="text" id="aktuellerMarktwert" class="inputPlayer" placeholder="45,00 Mio. €" />
        Geburtsdatum: <input type="date" id="geburtsdatum" class="inputPlayer" placeholder="Geburtsdatum" oninput="calcAge(this)"/>
        Alter: <input type="text" id="alter" class="inputPlayer" placeholder="Alter" disabled />
        Schussfuß: <br>
        <select id = "schussfuss">
          <option value="rechts">rechts</option>
          <option value="links">links</option>
          <option value="beidfüßig">beidfüßig</option>
        </select> <br>
        Höchster Marktwert: <input type="text" id="hoechsterMarktwert" class="inputPlayer" placeholder="45,00 Mio. €" />
        Geburtsort: <input type="text" id="geburtsort" class="inputPlayer" placeholder="Geburtsort" />
        Spielerberater: <input type="text" id="spielerberater" class="inputPlayer" placeholder="Spielerberater" />
        Ausrüster: <input type="text" id="ausruester" class="inputPlayer" placeholder="Ausrüster" />

        <input id="senden" type="submit" value="erstellen" onclick="saveToLS()" />
      </div>

    </div>

    <%# container 2 - right side %>
    <div id="detailsRight" class ="detailsRight" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onDragLeave()">
      <div id="textDetailsRight"></div>

    </div>
  </div>

  <%# column on the right with Login and Websocket Chat %>
  <div id="rightColumn" class = "rightColumn">

    <div id="login" class = "login">
      <img id='userImage' draggable='true' ondragstart='drag(event)'>
      <div id='userInfo'>
        <div id='userName'></div>
        <a id='logoutButton' class='logoutButton' href='/logout'>logout</a>
      </div>
    </div>

    <div id= "chat" class = "chat">
      <ul id= "content"></ul>

      <div id= "chatInput">
        <input id="text" type="text" placeholder="schreibe etwas..." onkeydown="checkKey()" />
        <input id="senden" type="submit" value="senden" onclick="send()" />
      </div>
    </div>

  </div>
</div>
<%# receive variables from server%>
<SCRIPT TYPE="text/javascript">

  var isAuthenticated = <%- isAuthenticated %>;

  if (isAuthenticated) {
    var user = JSON.parse('<%- user %>');
  };
</SCRIPT>

<script type="text/javascript" src="./static/js/wsclient.js"></script>


<%# contains scripts for this site %>
<SCRIPT TYPE="text/javascript" src="./static/js/verticalResize.js"></SCRIPT>
<script type="text/javascript" src="./static/js/getPlayerlist.js"></script>
<script type="text/javascript" src="./static/js/writeDetails.js"></script>
<script type="text/javascript" src="./static/js/compareStats.js"></script>
<script type="text/javascript" src="./static/js/getPlayerDetail.js"></script>
<script type="text/javascript" src="./static/js/createyourplayer.js"></script>
<script type="text/javascript" src="./static/js/speechRecognition.js"></script>
<script type="text/javascript" src="./static/js/dragAndDrop.js"></script>
<script type="text/javascript" src="./static/js/parseTwitterFeed.js"></script>


<% include footer %>