<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        Compare your Player!
    </title>
    <link rel="stylesheet" href="./static/css/style.css">
    <% if (ENV_DEVELOPMENT) { %>
        <script src="http://localhost:35729/livereload.js"></script>
        <% } %>
</head>

<body>

    <div class="header clearfix">
        <div class="nav">
            <input type="checkbox" id="toggle" />
            <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
            <ul class="menu">
                <li><a class="rare">Rare</a></li>
                <li><a href="#">Create Your Player</a></li>
                <li><a href="/impressum">Impressum</a></li>
                <li><a style="cursor: pointer;" ID="loginButton">Login</a>
                
                <ul ID="dropdown">
                    <li><a href="/auth/facebook" class="facebook">Facebook</a></li>
                    <li><a href="/auth/twitter" class="twitter">Twitter</a></li>
                </ul>

                </li>
            </ul>

        </div>
        <div class="logo" id="thelogo">
            <a href="/"><img src="/static/img/logo.png" height="90" width=auto></img></a>
        </div>
    </div>
