<% include header %>

<link rel="stylesheet" href="./static/css/imp.css">

<div id="impwrap">
    <h1>Create Your Player: Impressum</h1><hr><br>
    <p class="impressum">Angaben gemäß <b>§ 5 TMG</b></p>
    <p class="impressum">

<div class="autoren"><h2>Autoren</h2><hr><br>
<ul>
    <li>Marvin Führer</li>
    <li>Anna-Lisa Schaefer</li>
    <li>Michael Schlechtinger</li>
    <li>Robert Schulz</li>
    <li>Peter Ulbrich</li>
</ul>
</div>
        <h2>Kontaktdaten</h2>
        <hr><br>
        Max Muster <br>
        Musterweg<br>
        12345 Musterstadt <br>        
        Telefon: 01234-789456<br>
        E-Mail: <a href='mailto:max@muster.de'>max@muster.de</a>    
    </p><br>
    <p class="haftung">
        <br>
        <h2>Haftungsausschluss</h2>
        <hr><br>
        <h3>Haftung für Inhalte</h3><br>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte           können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß <b>§ 7 Abs.1 TMG</b> für eigene Inhalte auf diesen           Seiten nach den allgemeinen Gesetzen verantwortlich. Nach <b>§§ 8 bis 10 TMG</b> sind wir als Diensteanbieter jedoch nicht                 verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine               rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen         Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten               Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br><h3>Datenschutz</h3><br>
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten                       personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf         freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen           kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich           angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich           ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
    </p>
<br>

</div>
<script src="/static/js/impressum.js"></script>
<script src="/static/js/loginCSS.js"></script>
<% include footer %>