<% include header %>

<%# HTML %>
<div id="wrapper">


    
<%# these will be filled by index.controller.js with players %>
<div id="leftColumn" class="leftColumn">
    <div id="searchAndTwitter" class="searchAndTwitter">
            <input type="text" id="searchText" onkeyup="createPlayerList()">
            <button id="speechButton" onclick="startSpeechRecognition(event)">
                <img id='speechImage' src="/static/img/mic.gif" title="Starte die Spracheingabe"></button>
    </div>

    <div id="playerColumn" class ="playerColumn"></div>

</div>  
    
<%# container with details of players in the middle, it accepts drop events of player images %>
<div id="playerDetails" class="playerDetails">

<%# scrolling text with twitter livefeed%> 
<div class="scrollingText">
    <marquee behavior="slide" scrollamount="5" direction="down" style="text-align:center" ID="twitterFeed" start="start()"><font size="3" display="block"><b>LOGIN TO RECEIVE A TWITTER LIVEFEED</b></font></marquee>      
</div>      

<%# container 1 - left side %>
<div id="detailsLeft" class ="detailsLeft" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onDragLeave()">
	<div id="textDetailsLeft"></div>

</div>

<%# container 2 - right side %>
<div id="detailsRight" class ="detailsRight" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onDragLeave()">
	<div id="textDetailsRight"></div>

</div>
</div>
 
<%# column on the right with Login and Websocket Chat %>
<div id="rightColumn" class = "rightColumn">

	<div id="login" class = "login">
		<img id='userImage' draggable='false' ondragstart='drag(event)'>
		<div id='userInfo'>
			<div id='userName'></div>
			<a id='logoutButton' class='logoutButton' href='/logout'>logout</a>
		</div>
	</div>

	<div id= "chat" class = "chat">
		<ul id= "content"></ul>
	
	<div id= "chatInput">
    <input id="text" type="text" placeholder="schreibe etwas..." onkeydown="checkKey()" />
    <input id="senden" type="submit" value="senden" onclick="send()" />
	</div>
	</div>

</div>
</div>
<%# receive variables from server%>
<SCRIPT TYPE="text/javascript">

var isAuthenticated = <%- isAuthenticated %>;

if (isAuthenticated) {
	var user = JSON.parse('<%- user %>');
};
</SCRIPT>

<script type="text/javascript" src="./static/js/wsclient.js"></script>

<%# contains scripts for this site %>
<SCRIPT TYPE="text/javascript" src="./static/js/verticalResize.js"></SCRIPT>
<script type="text/javascript" src="./static/js/getPlayerlist.js"></script>
<script type="text/javascript" src="./static/js/writeDetails.js"></script>
<script type="text/javascript" src="./static/js/compareStats.js"></script>
<script type="text/javascript" src="./static/js/getPlayerDetail.js"></script>
<script type="text/javascript" src="./static/js/index.controller.js"></script>
<script type="text/javascript" src="./static/js/speechRecognition.js"></script>
<script type="text/javascript" src="./static/js/dragAndDrop.js"></script>
<script type="text/javascript" src="./static/js/parseTwitterFeed.js"></script>


<% include footer %>