<% include header %>

<%# contains scripts for this site %>
  <script type="text/javascript" , src= "./static/js/index.controller.js"></script>

  <h1><%-title %></h1>

<%# HTML %>

<%# these will be filled by index.controller.js %>
<div id="Buttons"></div>

<div id="Details"></div>



<% include footer %>