<% include header %>

<%# contains scripts for this site %>
  <script type="text/javascript" , src= "./static/js/index.controller.js"></script>


<%# HTML %>
<div id = "Heading" class="heading">
  <h1><%-title %></h1></div>
<%# these will be filled by index.controller.js %>
<div id="playerColumn" , class ="playerColumn" ,  style = 'float: left;margin: 30px;'></div>

<div id="details" , class ="details"></div>

<div id="rightColumn" , class = "rightColumn">
<div id="liveTicker" , class = "liveTicker">LiveTicker</div>
<div id="Login" , class = "Login">
	<p>Login:</p> <br>
	<button>Login with Facebook</button>
	<button>Login with Twitter</button>

</div>
<div id= "Chat" , class = "Chat">Websocket Chat</div>

</div>



<% include footer %>