/*Navigation Header*/
/*--------------------------------
 Functional Styles
---------------------------------*/

.header { position: relative; }
#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left; }

.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/*
@media only screen and (max-width: 768px){
	.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
	#toggle:checked + div .menu { display: block; opacity: 1;}
}*/
/*--------------------------------
 Presentation Styles
---------------------------------*/

/*
Reset Backgrounds to enable the backgroundpicture
*/
.header{
	min-height: 100px;
	height: 100%;
	padding: 0 20px;
	background: white;
}

.header > h1 {
	float: left;
	padding: 30px 0 0;
	font-style: italic;
	font-family: Georgia;
	font-size: 28px;
	color: #DFDFDF;
}

.nav{
	display: block;
	float: right;
}

.nav, .menu, .menu > li, .menu > li > a{
	height: 100px;
}

.menu > li > a{
	display: block;
	padding: 42px 20px;
	text-decoration: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

.menu > li > a:hover, .menu > li > a:focus{
	background: #F2F2F2;
	box-shadow: inset 0px 5px #51C1F1;
	color: #51C1F1;
	padding: 50px 20px 34px;
}
/*Hover action regarding relationship between button & drop down menu handled in Javascript*/

/*********************rarestuff**********************
****************************************************/
.rare {
    opacity: 0;
}

.menu > li > .rare:hover{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    background: url("http://i.imgur.com/2czseQm.gif") no-repeat 6px center;
    background-size: 150px auto;
    background-position: center;
}
/****************************************************
**********************rarestuff*********************/


/*drop down sub menu*/
.menu ul {
    position: relative;
 
    opacity: 0;
    background: #F2F2F2;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover > ul, .menu > li > a:hover, .menu > li > a:focus { 
    opacity: 1; 
    }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 10px;
    list-style-type:none;
 
    border-top: 1px solid #353539;
    
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;   
}

/*Drop Down Boxes*/
.menu li:hover > ul li {
    height: 20px;
    overflow: visible;
}

/*Drop Down text*/
.menu ul li a {
    padding-left: 25px;
}
 
.menu ul li a:hover {
    color: #51C1F1;
}

.menu ul li:last-child a { 
    border: none; 
}

.menu a.facebook{
    background: url(/static/img/facebook.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.menu a.twitter{
    background: url(/static/img/twitter.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
/*end of drop down sub menu*/

.toggle{
	z-index: 2;
}


/*make Menu responsive*/
/*
@media only screen and (max-width: 768px){
	.menu{
		background: #FFFFFF;
		border-top: 1px solid #51C1F1;
	}

	.menu, .menu > li, .menu > li > a{
		height: auto;
	}

	.menu > li > a{
		padding: 15px 15px;
	}

	.menu > li > a:hover, .menu > li > a:focus{
		background: #F2F2F2;
		box-shadow: inset 5px 0px #51C1F1;
		padding: 15px 15px 15px 25px;
	}

	.toggle:after {
		content: attr(data-open);
		display: block;
		width: 200px;
		margin: 33px 0;
		padding: 10px 50px;
		background: #51C1F1;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 12px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.toggle:hover:after{
		background: #45ABD6;
	}

	#toggle:checked + div .toggle:after{
		content: attr(data-close);
	}
}

@media only screen and (max-width: 479px){
	.header > h1 {
		text-align: center;
	}
	.header > h1, .nav, .toggle:after{
		float: none;
	}
    .nav{
        display:none;
    }
	.toggle:after {
		text-align: center; width: 100%;
	}
}*/
/************End of Menu******************/



/*Prevent default space on top/left/right both sides*/
* {
margin: 0;
padding: 0;
}
/*make the page fill the whole client browser*/
html, body { min-height: 100%; }
 
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-image: url(/static/img/background.jpg);
    background-repeat: space;
    background-position: center top;
}

a {
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}

.playerColumn {
    height: 770px;
    overflow: auto;
    position:inherit;
    width: 98%;
    float: left;
    color: white;
}

.playerBox {
    background: transparent;
    width: inherit;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}

.heading {
    width: 100%;
    text-align: center;
    font-size: 40px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
}

.playerDetails {
    align: center;
    width: calc(60% - 12px);
    float: left;
    height: 100%;
    bottom:0px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: white;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: white;
    overflow: auto;
}
.detailsLeft , .detailsRight {
    float: left;
    width: calc(50% - 3px);
    font-size: 20px;
    height: calc(100% - 22px);
    font-weight: bold;
}
.detailsRight {

    text-align: right;
}
.detailsLeft {

    text-align: left;
}
table {
text-align: right;
}
#textDetailsLeft, #textDetailsRight {
    text-align: center;
}

.rightColumn {
    height: calc(100%-100px);
    overflow: auto;
    width: 20%;
    float: right;
    border-left-color: white;
    border-left-width: 3px;
    border-left-style: solid;
    background-color: rgba(17, 19, 22, 0.85);
}

.ratingImage{
    width:30px; 
    height:auto;
    align:right;
}
.leftColumn {
    float: left;
    width: 20%;
    border-right-style: solid;
    border-right-width: 3px; 
    border-right-color: white;
    background-color: rgba(17, 19, 22, 0.85);

}

#dragDropLeft,#dragDropRight{
height:470px;
width:auto;
}
/*Searchbar in Header*/
.searchAndTwitter {
    padding: 10px 10px;
        border-bottom-style: solid;
    border-bottom-width: 3px; 
    border-bottom-color: white;
}
#searchText {
    width:calc(100% - 40px);
    
}
#speechButton {
    vertical-align: middle;
}
#speechImage {
    width:18px;
    height: relative;
}
.logo {
    padding-top: 6px;
}


div#impwrap{
    width: 95%;
    text-align: justify;
    padding: 1em 1em;
}


.scrollingText {
    height: 20px;
    background-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    text-align: center;
}

.inputPlayer{
    height: 1.5em;
    font-size: 14px;
    width: 100%;

}

#inputForm{
    text-align: center;
    font-size: small;
    display: inline;
}

.logoImg{
    height: 80px;
    width: auto;
}
@media only screen and (max-width: 1070px){

.rightColumn{
    display:none;
}
.playerDetails{
    width:calc(80% - 12px);
}

@media only screen and (max-width: 820px){

    .detailsLeft{
        width:calc(100% - 6px);
        padding-bottom: 60px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: white;
        overflow:auto;

    }
    .detailsRight{
        width:calc(100% - 6px);

    }
    
    ul > li > .loginButton, ul > li > .cyp, ul > li > ul > li {
        display: none;
    }

}

@media only screen and (max-width: 650px){

    .leftColumn{
        width: 130px;
    }

    .playerDetails{

        width: calc(100% - 142px);
    }
    .detailsLeft{
        padding-bottom: 130px;
        overflow:auto;
        font-size: small;
    }
    .detailsRight{
        font-size: small;
    }
    
    ul > li > .rare  {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    ul > li > .impressum{
        display: none
    }
    
    .logoImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .leftColumn{
        width: calc(100% - 3px);
        height: 225px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: white;
    }
    .playerDetails{
        width: calc(100% - 6px);
    }

    .detailsRight{
        display: none;
    }
    .textDetailsLeft{
        display: none;
    }
    .detailsLeft{
        padding-bottom: 0px;
        border :none;
        overflow:auto;
        font-size: small;
    }
    .scrollingText{
        display: none;
    }
    #textDetailsLeft{
        display:none;
    }
}
